*{
    font-family: 'Open Sans', sans-serif;
}

.ce-chat-engine{
    font-family: 'Open Sans', sans-serif;
}

.ce-message-date-text{
    font-family: 'Open Sans', sans-serif;
}
.ce-my-message-body{
    background-color: rgb(9, 130, 17);
}